#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0.1rem;
  text-align: center;
  margin-top: 5rem
}

body {
  background-image: url('../public/assets/freepik_macrovector.svg');
  background-size:contain; 
  background-repeat: repeat;
  background-position: center;
}

.logo.container {
  background-color: rgba(221, 190, 53, 0.324);
}
.py-5 {
  background-color: rgba(221, 190, 53, 0.914);
  padding: 1rem;
  border-radius: 20%;
}

.login {
  background-color:rgba(173, 215, 255, 0.889);
  padding: 1rem;
  border-radius: 10%;

}
form {
  padding: 1rem;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.btn {
  margin: 1rem;
}

